* {
  text-align: center;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 10px;
}

.card {
  position: absolute;
  width: fit-content;
  font-size: x-large;
  font-weight: bold;
  background-color: red;
  height: 30px;
  width: 30px;
}
